 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../assets/imgs/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: black
}

.navbar-brand img {
    height: 80px;
    
}

.navbar-brand img:hover {
    transform: scale(1.1); 
    
}


.nav-link {
    color: rgb(219, 193, 43);
    font-weight: bold;
    font-size: 25px;
    margin-right: 15px;
}

.navbar-nav {
    margin-left: auto;
}


main{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;

}

#cardDetails{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../assets/imgs/llK.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    

}
#containerBodyCard{
    background-color: rgba(116, 44, 44, 0.5);
    border-radius: 2rem;
}

#infoCardContainer{
    height: 100%;
    padding: 30px;
}

#detailsImg{
    height: 90%;
}


#silueta{
    width: 100vw; 
    overflow: hidden; 
    position: fixed;
}
#silueta img{
    width: 200vw; 
    height: auto;
    position: fixed;
    left: -50vw;
    bottom: 0;
  
    
}



footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }

#ContainerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: black solid 2px;
}

#ContainerButton a{
    height: 100%;
}

#ContainerButton p{
    position: relative;
    right: 50%;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
  }

  #buttonImg{
    width: 130px;
    height: 200px;
    transform: rotate(-90deg);
  }

  

  

