*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h6{
    margin-top: 6.1rem ;
}

.retrato{
    height: 189px;
    width: 137px;
    /* border-radius: 1%; */
    margin-top: 5rem;
    margin-left: 6rem;
    opacity: 100%;
    object-fit: cover;

}
.tarjetas{
    position: relative;
    width: 330px;
    height: 317px;
    opacity: 0.85;
    filter: brightness(85%);
}
.tarjetas .cara{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}
.tarjetas .delante{
    transform: perspective(600px) rotateY(0deg);
}

.tarjetas .delante .portadaTarjeta{
    position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.tarjetas .atras{
    transform: perspective(600px) rotateY(180deg);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.tarjetas .atras .reversoTarjeta{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


.tarjetas:hover .delante{
    transform: perspective(600px) rotateY(180deg);
}
.tarjetas:hover .atras{
    transform: perspective(600px) rotateY(360deg);
} 

#Hufflepuff{
    min-height: 0vh;
    background: linear-gradient(rgba(7, 8, 12, 0.9), rgba(7, 8 , 12, 0.9)), url(../assets/imgs/houses\ hufflepuff.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Gryffindor{
    background: linear-gradient(rgba(7, 8, 12, 0.9), rgba(7, 8 , 12, 0.9)), url(../assets/imgs/house\ gryffindor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Ravenclaw{
    background: linear-gradient(rgba(7, 8, 12, 0.9), rgba(7, 8 , 12, 0.9)), url(../assets/imgs/house\ ravenclaw\ flag.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Slytherin{
    background: linear-gradient(rgba(7, 8, 12, 0.9), rgba(7, 8 , 12, 0.9)),
    url("../assets/imgs/house slytherin.jpg");
     background-size: cover;
    background-repeat: no-repeat;

}


#allHouses{
    background: linear-gradient(rgba(7, 8, 12, 0.8), rgba(7, 8 , 12, 0.8)), url(../assets/imgs/All\ Houses.jpg);
    min-height: 10vh;
    padding-top: 4rem;
}


.navbar {
    background-color: black !important;
}

.navbar-brand img {
    height: 80px;
    
}

.navbar-brand img:hover {
    transform: scale(1.1); 
    
}
.nav-item img{
    object-fit: cover;
    width: 5vw;
    height:auto;
    display: flex;
    justify-content: end;
}
.nav-item{
    display: flex;
    align-content:center ;
    align-items: center;
    justify-content: center;
}
.nav-link {
    color: rgb(219, 193, 43);
    font-weight: bold;
    font-size: 25px;
    margin-right: 15px;
}

.navbar-nav {
    margin-left: auto;
    justify-content: end;
}



#maintext{
    color: rgb(228, 215, 186);
}

.backText{
    position: relative;
    margin-top: 3rem;
    letter-spacing: 2px;
    padding: 1rem;
    overflow:auto;
}

#fotito{

    min-height: 100vh;
    background:  url(../assets/imgs/avadalefavra.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
/* position: relative; */
}

h2{
    padding: 10rem;
    color: rgb(228, 215, 186);
    font-size: 2rem;
    text-align: center;
    /* letter-spacing: 2px; */
}