*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: solid red;*/
}

body{
    background-image: url("../assets/imgs/background-dark.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: black !important;
}

.navbar-brand img {
    height: 80px;
    
}

.navbar-brand img:hover {
    transform: scale(1.1); 
    
}
.nav-item img{
    object-fit: cover;
    width: 5vw;
    height:auto;
    display: flex;
    justify-content: end;
}
.nav-item{
    display: flex;
    align-content:center ;
    align-items: center;
    justify-content: center;
}
.nav-link {
    color: rgb(219, 193, 43);
    font-weight: bold;
    font-size: 25px;
    margin-right: 15px;
}

.navbar-nav {
    margin-left: auto;
    justify-content: end;
}

main{
    width: 100%;
}
/* Paginate container style */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}

/* Paginate items */
.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff; /* Text color */
    background-color: #8d5d1e; /* Default background */
    border: 1px solid #dee2e6;
    border-radius: 10%; /* Circular buttons */
    text-align: center;
    width: 40px; /* Width and height for circular shape */
    height: 40px;
    line-height: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Hover effect */
.pagination .page-link:hover {
    background-color: rgb(219, 193, 43); /* Background color on hover */
    color: #fff; /* Text color on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

/* Active page */
.pagination .page-item.active .page-link {
    background-color: rgb(219, 193, 43); /* Background for active page */
    border-color: black; /* Active border color */
    color: white;
}

/* Disabled pagination */
.pagination .page-item.disabled .page-link {
    background-color: #e9ecef; /* Background for disabled */
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
}

/* Custom transitions for smoother experience */
.pagination .page-link {
    transition: background-color 0.25s ease, transform 0.25s ease;
}
/* Search form style */
#search-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#search-bar {
    border: 2px solid #000000; /* Border for search input */
    border-radius: 50px; /* Rounded edges */
    padding: 10px 20px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

#search-bar:focus {
    border-color: rgb(219, 193, 43); /* Border color when focused */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2); /* Focus shadow */
}

#search-form button {
    border-radius: 50px; /* Rounded edges for button */
    padding: 10px 20px;
    font-size: 1rem;
    background-color:  rgb(219, 193, 43); /* Green background */
    color: white;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

#search-form button:hover {
    background-color:  rgb(219, 193, 43); /* Darker green on hover */
    transform: scale(1.05); /* Slight zoom on hover */
}

/* Filter buttons container */
.container {
    text-align: center; /* Center the buttons */
    margin-top: 20px;
}

#filter-students,
#filter-staff {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 50px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

#filter-students {
    background-color: rgb(194, 111, 17); /* Blue for students button */
    color: white;
    outline: solid black 1px;
}

#filter-staff {
    background-color: #6c757d; /* Gray for staff button */
    color: white;
    outline: solid black 1px;
}

/* Hover effects for filter buttons */
#filter-students:hover {
    background-color:  rgb(219, 193, 43);/* Darker blue on hover */
    transform: scale(1.05); /* Slight zoom on hover */
}

#filter-staff:hover {
    background-color: #5a6268; /* Darker gray on hover */
    transform: scale(1.05); 
}


#title {
    width: 650px;
    margin-top: 3rem;
}
#sectionImages {
   display: flex;
   justify-content: center;
   position: relative;
   margin-bottom: 8rem;
}
#houseChart,#speciesChart,#aliveChart {
    width: 300px; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
}

.table-container {
    background: url("../assets/imgs/card-parchment.jpg");
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    outline: solid black 2px;
    padding: 20px; /* Espacio alrededor de la tabla */
    border-radius: 10px; /* Bordes redondeados */
}
/* Opcional: estilos adicionales para la tabla */
#tabla1 {
    background-color: rgba(255, 255, 255, 0.0); /* Fondo blanco semi-transparente */
    border-radius: 1rem; /* Bordes redondeados para la tabla */
    text-align: center;
    
}

/* Opcional: estilos para las celdas de la tabla */
#tabla1 th, #tabla1 td,#tabla1 tr {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.0));
    outline: solid black 1px;
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
    align-content: center;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .table-container {
        padding: 0.5rem;
    }

    .table {
        font-size: 0.875rem;
    }

    canvas {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 576px) {
    .table {
        font-size: 0.75rem;
    }

    .table th,
    .table td {
        padding: 0.25rem;
    }
}
@media (min-width: 992px) {
    /* Ajuste de margen entre las columnas en pantallas grandes */
    .table-container {
        margin-bottom: 0;
    }
}
.cardsImg{
    width: 360px;
    height: auto;
    border-radius: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    position: relative;
   
}

.cardsImg:nth-child(1) {
    left: 290px;
    transform: scale(0.8);
    z-index: 1;
}

.cardsImg:nth-child(2) {
    left: 110px;
    transform: scale(0.9);
    z-index: 2;
}

.cardsImg:nth-child(3) {
    left: 0px;
    transform: scale(1);
    z-index: 3;
}

.cardsImg:nth-child(4) {
    left: -90px;
    transform: scale(0.9);
    z-index: 2;
}

.cardsImg:nth-child(5) {
    left: -210px;
    transform: scale(0.8);
    z-index: 1;
}
.cardsImg:hover {
    transform: scale(1.1); 
    z-index: 10; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 0 20px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

#silueta{
    width: 100vw; 
    overflow: hidden; 
    position: fixed;
}
#silueta img{
    width: 200vw; 
    height: auto;
    position: fixed;
    left: -50vw;
    bottom: 0;
  
    
}
footer {
    width: 100%;
    height: 10vh;
    position: relative;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }



audio{
    opacity: 0.3;
    position: fixed;
    bottom: 10px;
    right: 10px;
    
}


audio:hover{
    opacity: 0.8;
}


/* estilos pagina hechizos */
#mainBack{
    background-color: black;
}
.containerLibrary{
    background-image: url("../assets/imgs/the-hogwarts-library.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    color:beige;
    position: relative;
    height: 75vh;
    width: 100%;
}
.textLibrary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: linear-gradient(180deg, rgba(251, 251, 251, 0.041), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    text-align: center;
}
#maintext{
    color: rgb(228, 215, 186);
}
#favCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: medium;
}
.textFav{
    color: rgb(82, 59, 30);
    font-size: 2rem;
}
#spell-container{
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.cardSpell{
    position: relative;
    width: 300px;
    height: 350px;
}
.cardSpell .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.cardSpell .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px white;
}

.cardSpell .front img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.cardSpell .front h3{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 10%;
    line-height:2rem;
    color: rgb(219, 165, 57);
    background: rgba(32, 31, 31, 0.772);
    text-align: center;

}
.cardSpell .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px white;
}
.cardSpell .back img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

.card img {
    height: 45vh;
    border-radius: 4px;
    object-fit: cover;
    border: 1px solid black;
}
.card-body img{
    object-fit: cover;
   
}
.card button {
    margin-top: 10px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.backText{
    position: relative;
    margin-top: 2rem;
    letter-spacing: 2px;
    padding: 1rem;
    overflow:auto;
}
.fav{
    position: relative;
    bottom: 0;
    margin-bottom: 1rem;
}
.notFound{
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50;
    height: 300px;
}
.imgNotFound{
    position: absolute;
    min-width: 90%;
    height: 100%;
}
.textNotFound{
    position: relative;
    width: 40%;
    text-align: center;
}

.cardSpell:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.cardSpell:hover .back{
    transform: perspective(600px) rotateY(360deg);
} 

.containerButton {
    position: relative;
    width: 180px;
    height: 10vh;
    margin: 0 auto;

}

#containerButton {
    background-image: url("../assets/icons/isolated_old.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 12vw;
    height: 8vh;
    cursor: pointer;
    text-decoration: none;
}

.text-overlay {

    color: white;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}



.text-overlay:hover {
    color: black;
}

/*estilos Varitas*/
#mainWand{
    background-color: black;
}
.containerWand{
    background-image: url("../assets/imgs/Alder-Wand.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    color:beige;
    position: relative;
    height: 75vh;
    width: 100%;
}
.textWand{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    position: absolute;
    background: linear-gradient(180deg, rgba(251, 251, 251, 0), rgb(0, 0, 0));
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
}


table{
    color: rgb(168, 190, 171);
    font-size: 1rem;
    background-color: rgba(27, 27, 26, 0.874);
    width: 80%;
}

th{
    color: rgb(68, 88, 63);
    font-size: 2rem;
    padding: 2rem;
}
td{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.122), rgba(0, 0, 0, 0.742));
}
tbody tr:hover {
    transform: scale(1.25);
}
#wand{
    height: 100px;
    width: 100px;
    
}
#navS{
    background-color: black !important;
}
#navW{
    background-color: black !important;
}